body{
    background-color: #cecece;
    margin: auto;
    text-align: justify;
}

p {
    color: rgb(34, 34, 34);
}

.foto-principal {
        width:214px;
        height: 325px;
    }

#principal {
    color: rgb(199, 76, 76);
}